<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <h1>Hola</h1>
  <h3>{{correoUsuario}}</h3>
  <h2>Tus coordenadas son</h2>
  <h3>Latitud:</h3>
  <p>{{uLat}}</p>
  <h3>Longitud:</h3>
  <p>{{uLong}}</p>
  <h3>La floreria más cercana queda a:</h3>
  <p>{{menor}}km</p>
  <h3>FLORERIA:</h3>
  <p>Nombre: {{floreriaCercanaNombre}}</p>
  <p>ID: {{floreriaCercanaID}}</p>
  <ion-button (click)="logOutAuth()">
    Cerrar sesión
  </ion-button>
</ion-content>