<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Dreaming Florwers
      <ion-icon name="flower" style="float: right;"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-img src="https://www.citymarket.com.mx/images/departamentos/FLORERIA/corte-floreria.jpg"></ion-img>
  <ion-card class="welcome-card">
    <!--Podría ir una imagen aquí para el card header-->
    <ion-card-header>
      <ion-card-title>Bienvenido</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>En Dreaming Florwers podrás armar tu propio arreglo floral de una manera fácil y rápida. Garantizamos el
        envío hasta la puerta de tu casa.</p>
    </ion-card-content>
  </ion-card>
  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Flores</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let res of respuesta.flores">
      <ion-card class="welcome-card">
        <ion-img src='{{res.foto}}'></ion-img>
        <ion-card-header>
          <ion-card-title>{{res.nombreF}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>{{res.descripcion}}</p>
        </ion-card-content>
        <div class="ionbtn">
          <ion-fab vertical="bottom" horizontal="end" slot="fixed">
            <ion-fab-button>
              <ion-icon name="add"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </div>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>