.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

ion-checkbox{
  margin-left: 90%;
}

.ionbtn{
  width: 100%;
  height: 8vh;
}
#cart-badge {
  position: absolute;
  top: 0px;
  right: 0px;
  background: transparent;
}

ion-title {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 50px 1px;
  width: 100%;
  height: 100%;
  text-align: center;
}
.iconm{
  width: 40px;
}
.ionbtn{
  height: 60px;
}