<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Dreaming Flowers
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openCart()">
        <ion-badge id="cart-badge" *ngIf="cart.length > 0">{{cart.length}}</ion-badge>
        <img class="iconm" src="https://image.flaticon.com/icons/svg/1261/1261146.svg">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-img src="https://www.citymarket.com.mx/images/departamentos/FLORERIA/corte-floreria.jpg"></ion-img>
  <ion-card class="welcome-card">
    <!--Podría ir una imagen aquí para el card header-->
    <ion-card-header>
      <ion-card-title>Bienvenido</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>En Dreaming Florwers podrás armar tu propio arreglo floral de una manera fácil y rápida. Garantizamos el
        envío hasta la puerta de tu casa.</p>
    </ion-card-content>
  </ion-card>
  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Flores</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let flor of respuesta.flores">
      <ion-card class="welcome-card">
        <ion-img src='{{flor.foto}}'></ion-img>
        <ion-card-header>
          <ion-card-title>{{flor.nombreF}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>{{flor.descripcion}}</p>
        </ion-card-content>
        <div class="ionbtn">
          <ion-fab vertical="bottom" horizontal="end" slot="fixed">
            <ion-button expand="full" (click)="addToCart(flor)">
              Agregar
            </ion-button>
          </ion-fab>
        </div>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>