<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
       Comunidad
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div padding>
        <ion-button (click)="tomarFoto()">
            Tomar foto
          </ion-button>
    </div>
<div  >
    <ion-card   *ngFor="let image of images" >
        <img src="{{ image.urlImage }}">
        <ion-card-header>
            <ion-card-title>Arreglo Bonito</ion-card-title>
          </ion-card-header>
      </ion-card>
    
</div>
 
</ion-content>

