<ion-header>
  <ion-toolbar color="primary">
    <ion-title text-center>
      Dreaming Flowers Register
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="container">
    <img src="https://img.icons8.com/color/1600/circled-user-male-skin-type-1-2.png" width="200px">
    <ion-item>
      <ion-label position="floating">
        <ion-icon name="person"></ion-icon> Correo
      </ion-label>
      <ion-input [(ngModel)]="user.email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">
        <ion-icon name="lock"></ion-icon> Contraseña
      </ion-label>
      <ion-input type="password" [(ngModel)]="user.password" required></ion-input>
    </ion-item>
  </div>
  <div class="cont" text-center>
    <ion-button expand="block" shape="round" (click)="register(user)">Continuar</ion-button>
  </div>
  <div class="cont" text-center>
    <span>¡Ya tienes una cuenta?</span><a expand="full" shape="round" routerLink="/login"><span> Inicia
        sesión</span></a>
  </div>

</ion-content>